* {
  margin: 0;
  padding: 0;
}

.nav-bar {
  padding: 10px 50px;
  background-color: aqua;
  display: flex;
  justify-content: space-between;
}
.left-header {
  background-color: aliceblue;
  display: flex;
  justify-content: space-around;
  margin: 0px 50px;
}
.left-header h2 {
  padding: 10px;
}

.first-section {
  background-repeat: no-repeat;
  background-color: darkgoldenrod;
  height: 400px;
  display: flex;
  flex-flow: column;
  justify-content: top;
  align-items: center;
  color: white;
  border-width: 10px 0;
  border-style: solid;
  border-color: black;
}

.first-section h2 {
  position: relative;
  top: 70px;
}
#w {
  position: relative;
  top: 100px;
}
