* {
  margin: 0;
  padding: 0;
}

.body-lists {
  margin: auto;
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease;
  width: 250px;
  text-align: center;
  margin: 20px;
  flex-grow: 4;
  border-radius: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 #265329;
  transform: scale(1.1);
}

.card img {
  width: 200px;
  height: 200px;
}

.card-container {
  padding: 2px 16px;
  text-align: left;
  padding: 10px;
}

@media (max-width: 800px) {
  .body-lists {
    flex-direction: column;
  }
}

/* text decoration */

.card-container p {
}
